<div class="container" data-controller="example">
  <div class="traverse-link">
    <%= link_to 'Edit',
                'javascript:void(0)',
                data: {
                    target: "example.toggleLink",
                    action: "click->example#toggleContent"
                } %>
  </div>

  <!-- show content -->
  <div class="show-content" data-target="example.showContent">
    <h1>Example Content</h1>
    <%= example.rich_text.to_plain_text %>
  </div>

  <!-- edit content -->
  <div class="edit-content" data-target="example.editContent">
    <h1>Editing Example</h1>

    <%= render 'form', example: example %>
  </div>
</div>